@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
  font-family: 'Roboto Condensed', sans-serif;
}

.desktop-menu {
  display: none;
}

.desktop-menu a.nav-link-button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 20px;
  transition: color 0.3s ease;
  text-transform: none;
}

.desktop-menu a.nav-link-button:hover {
  color: #ffe4c4;
}

@media (min-width: 600px) {
  .desktop-menu {
    display: flex;
  }
}

.home-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.home-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-container .ql-toolbar.ql-snow {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.editor-container .ql-container {
  height: 100px;
  font-size: 16px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.editor-container:hover .ql-container,
.editor-container:hover .ql-toolbar.ql-snow {
  border-color: black;
}

.date-picker .css-10botns-MuiInputBase-input-MuiFilledInput-input {
  background-color: white;
}